GoCheeta_Client/src/wsdl/localhost_8080/GoCheeta_Server/WebGoCheeta.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://icbt/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://icbt/" name="WebGoCheeta">
<types>
<xsd:schema>
<xsd:import namespace="http://icbt/" schemaLocation="http://localhost:8080/GoCheeta_Server/WebGoCheeta?xsd=1"/>
</xsd:schema>
</types>
<message name="updateDriverrs">
<part name="parameters" element="tns:updateDriverrs"/>
</message>
<message name="updateDriverrsResponse">
<part name="parameters" element="tns:updateDriverrsResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getDriverr">
<part name="parameters" element="tns:getDriverr"/>
</message>
<message name="getDriverrResponse">
<part name="parameters" element="tns:getDriverrResponse"/>
</message>
<message name="addDriverr">
<part name="parameters" element="tns:addDriverr"/>
</message>
<message name="addDriverrResponse">
<part name="parameters" element="tns:addDriverrResponse"/>
</message>
<message name="deleteDriverrs">
<part name="parameters" element="tns:deleteDriverrs"/>
</message>
<message name="deleteDriverrsResponse">
<part name="parameters" element="tns:deleteDriverrsResponse"/>
</message>
<message name="getDriverrs">
<part name="parameters" element="tns:getDriverrs"/>
</message>
<message name="getDriverrsResponse">
<part name="parameters" element="tns:getDriverrsResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="getMessages">
<part name="parameters" element="tns:getMessages"/>
</message>
<message name="getMessagesResponse">
<part name="parameters" element="tns:getMessagesResponse"/>
</message>
<message name="getUsers">
<part name="parameters" element="tns:getUsers"/>
</message>
<message name="getUsersResponse">
<part name="parameters" element="tns:getUsersResponse"/>
</message>
<message name="getCarsOnly">
<part name="parameters" element="tns:getCarsOnly"/>
</message>
<message name="getCarsOnlyResponse">
<part name="parameters" element="tns:getCarsOnlyResponse"/>
</message>
<message name="getVan">
<part name="parameters" element="tns:getVan"/>
</message>
<message name="getVanResponse">
<part name="parameters" element="tns:getVanResponse"/>
</message>
<message name="addCar">
<part name="parameters" element="tns:addCar"/>
</message>
<message name="addCarResponse">
<part name="parameters" element="tns:addCarResponse"/>
</message>
<message name="getCars">
<part name="parameters" element="tns:getCars"/>
</message>
<message name="getCarsResponse">
<part name="parameters" element="tns:getCarsResponse"/>
</message>
<message name="getCar">
<part name="parameters" element="tns:getCar"/>
</message>
<message name="getCarResponse">
<part name="parameters" element="tns:getCarResponse"/>
</message>
<message name="authCustomer">
<part name="parameters" element="tns:authCustomer"/>
</message>
<message name="authCustomerResponse">
<part name="parameters" element="tns:authCustomerResponse"/>
</message>
<message name="getVans">
<part name="parameters" element="tns:getVans"/>
</message>
<message name="getVansResponse">
<part name="parameters" element="tns:getVansResponse"/>
</message>
<message name="getVansOnly">
<part name="parameters" element="tns:getVansOnly"/>
</message>
<message name="getVansOnlyResponse">
<part name="parameters" element="tns:getVansOnlyResponse"/>
</message>
<message name="addContactUs">
<part name="parameters" element="tns:addContactUs"/>
</message>
<message name="addContactUsResponse">
<part name="parameters" element="tns:addContactUsResponse"/>
</message>
<portType name="WebGoCheeta">
<operation name="updateDriverrs">
<input wsam:Action="http://icbt/WebGoCheeta/updateDriverrsRequest" message="tns:updateDriverrs"/>
<output wsam:Action="http://icbt/WebGoCheeta/updateDriverrsResponse" message="tns:updateDriverrsResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://icbt/WebGoCheeta/helloRequest" message="tns:hello"/>
<output wsam:Action="http://icbt/WebGoCheeta/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getDriverr">
<input wsam:Action="http://icbt/WebGoCheeta/getDriverrRequest" message="tns:getDriverr"/>
<output wsam:Action="http://icbt/WebGoCheeta/getDriverrResponse" message="tns:getDriverrResponse"/>
</operation>
<operation name="addDriverr">
<input wsam:Action="http://icbt/WebGoCheeta/addDriverrRequest" message="tns:addDriverr"/>
<output wsam:Action="http://icbt/WebGoCheeta/addDriverrResponse" message="tns:addDriverrResponse"/>
</operation>
<operation name="deleteDriverrs">
<input wsam:Action="http://icbt/WebGoCheeta/deleteDriverrsRequest" message="tns:deleteDriverrs"/>
<output wsam:Action="http://icbt/WebGoCheeta/deleteDriverrsResponse" message="tns:deleteDriverrsResponse"/>
</operation>
<operation name="getDriverrs">
<input wsam:Action="http://icbt/WebGoCheeta/getDriverrsRequest" message="tns:getDriverrs"/>
<output wsam:Action="http://icbt/WebGoCheeta/getDriverrsResponse" message="tns:getDriverrsResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://icbt/WebGoCheeta/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://icbt/WebGoCheeta/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://icbt/WebGoCheeta/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://icbt/WebGoCheeta/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="getMessages">
<input wsam:Action="http://icbt/WebGoCheeta/getMessagesRequest" message="tns:getMessages"/>
<output wsam:Action="http://icbt/WebGoCheeta/getMessagesResponse" message="tns:getMessagesResponse"/>
</operation>
<operation name="getUsers">
<input wsam:Action="http://icbt/WebGoCheeta/getUsersRequest" message="tns:getUsers"/>
<output wsam:Action="http://icbt/WebGoCheeta/getUsersResponse" message="tns:getUsersResponse"/>
</operation>
<operation name="getCarsOnly">
<input wsam:Action="http://icbt/WebGoCheeta/getCarsOnlyRequest" message="tns:getCarsOnly"/>
<output wsam:Action="http://icbt/WebGoCheeta/getCarsOnlyResponse" message="tns:getCarsOnlyResponse"/>
</operation>
<operation name="getVan">
<input wsam:Action="http://icbt/WebGoCheeta/getVanRequest" message="tns:getVan"/>
<output wsam:Action="http://icbt/WebGoCheeta/getVanResponse" message="tns:getVanResponse"/>
</operation>
<operation name="addCar">
<input wsam:Action="http://icbt/WebGoCheeta/addCarRequest" message="tns:addCar"/>
<output wsam:Action="http://icbt/WebGoCheeta/addCarResponse" message="tns:addCarResponse"/>
</operation>
<operation name="getCars">
<input wsam:Action="http://icbt/WebGoCheeta/getCarsRequest" message="tns:getCars"/>
<output wsam:Action="http://icbt/WebGoCheeta/getCarsResponse" message="tns:getCarsResponse"/>
</operation>
<operation name="getCar">
<input wsam:Action="http://icbt/WebGoCheeta/getCarRequest" message="tns:getCar"/>
<output wsam:Action="http://icbt/WebGoCheeta/getCarResponse" message="tns:getCarResponse"/>
</operation>
<operation name="authCustomer">
<input wsam:Action="http://icbt/WebGoCheeta/authCustomerRequest" message="tns:authCustomer"/>
<output wsam:Action="http://icbt/WebGoCheeta/authCustomerResponse" message="tns:authCustomerResponse"/>
</operation>
<operation name="getVans">
<input wsam:Action="http://icbt/WebGoCheeta/getVansRequest" message="tns:getVans"/>
<output wsam:Action="http://icbt/WebGoCheeta/getVansResponse" message="tns:getVansResponse"/>
</operation>
<operation name="getVansOnly">
<input wsam:Action="http://icbt/WebGoCheeta/getVansOnlyRequest" message="tns:getVansOnly"/>
<output wsam:Action="http://icbt/WebGoCheeta/getVansOnlyResponse" message="tns:getVansOnlyResponse"/>
</operation>
<operation name="addContactUs">
<input wsam:Action="http://icbt/WebGoCheeta/addContactUsRequest" message="tns:addContactUs"/>
<output wsam:Action="http://icbt/WebGoCheeta/addContactUsResponse" message="tns:addContactUsResponse"/>
</operation>
</portType>
<binding name="WebGoCheetaPortBinding" type="tns:WebGoCheeta">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateDriverrs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriverr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDriverr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDriverrs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getDriverrs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMessages">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCarsOnly">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVan">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCars">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="authCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVansOnly">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addContactUs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WebGoCheeta">
<port name="WebGoCheetaPort" binding="tns:WebGoCheetaPortBinding">
<soap:address location="http://localhost:8080/GoCheeta_Server/WebGoCheeta"/>
</port>
</service>
</definitions>