GoCheeta_Client/src/wsdl/localhost_8080/GoCheeta_Server/WebGoCheeta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://icbt/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://icbt/">

<xs:element name="addCar" type="tns:addCar"/>

<xs:element name="addCarResponse" type="tns:addCarResponse"/>

<xs:element name="addContactUs" type="tns:addContactUs"/>

<xs:element name="addContactUsResponse" type="tns:addContactUsResponse"/>

<xs:element name="addDriverr" type="tns:addDriverr"/>

<xs:element name="addDriverrResponse" type="tns:addDriverrResponse"/>

<xs:element name="addUser" type="tns:addUser"/>

<xs:element name="addUserResponse" type="tns:addUserResponse"/>

<xs:element name="authCustomer" type="tns:authCustomer"/>

<xs:element name="authCustomerA" type="tns:authCustomerA"/>

<xs:element name="authCustomerAResponse" type="tns:authCustomerAResponse"/>

<xs:element name="authCustomerD" type="tns:authCustomerD"/>

<xs:element name="authCustomerDResponse" type="tns:authCustomerDResponse"/>

<xs:element name="authCustomerResponse" type="tns:authCustomerResponse"/>

<xs:element name="deleteDriverrs" type="tns:deleteDriverrs"/>

<xs:element name="deleteDriverrsResponse" type="tns:deleteDriverrsResponse"/>

<xs:element name="getCar" type="tns:getCar"/>

<xs:element name="getCarResponse" type="tns:getCarResponse"/>

<xs:element name="getCarbyId" type="tns:getCarbyId"/>

<xs:element name="getCarbyIdResponse" type="tns:getCarbyIdResponse"/>

<xs:element name="getCars" type="tns:getCars"/>

<xs:element name="getCarsOnly" type="tns:getCarsOnly"/>

<xs:element name="getCarsOnlyResponse" type="tns:getCarsOnlyResponse"/>

<xs:element name="getCarsResponse" type="tns:getCarsResponse"/>

<xs:element name="getDriverr" type="tns:getDriverr"/>

<xs:element name="getDriverrResponse" type="tns:getDriverrResponse"/>

<xs:element name="getDriverrbyId" type="tns:getDriverrbyId"/>

<xs:element name="getDriverrbyIdResponse" type="tns:getDriverrbyIdResponse"/>

<xs:element name="getDriverrs" type="tns:getDriverrs"/>

<xs:element name="getDriverrsResponse" type="tns:getDriverrsResponse"/>

<xs:element name="getLocation" type="tns:getLocation"/>

<xs:element name="getLocationResponse" type="tns:getLocationResponse"/>

<xs:element name="getMessages" type="tns:getMessages"/>

<xs:element name="getMessagesResponse" type="tns:getMessagesResponse"/>

<xs:element name="getUser" type="tns:getUser"/>

<xs:element name="getUserResponse" type="tns:getUserResponse"/>

<xs:element name="getUsers" type="tns:getUsers"/>

<xs:element name="getUsersResponse" type="tns:getUsersResponse"/>

<xs:element name="getVan" type="tns:getVan"/>

<xs:element name="getVanResponse" type="tns:getVanResponse"/>

<xs:element name="getVanbyId" type="tns:getVanbyId"/>

<xs:element name="getVanbyIdResponse" type="tns:getVanbyIdResponse"/>

<xs:element name="getVans" type="tns:getVans"/>

<xs:element name="getVansOnly" type="tns:getVansOnly"/>

<xs:element name="getVansOnlyResponse" type="tns:getVansOnlyResponse"/>

<xs:element name="getVansResponse" type="tns:getVansResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="updateCar" type="tns:updateCar"/>

<xs:element name="updateCarResponse" type="tns:updateCarResponse"/>

<xs:element name="updateDriverrs" type="tns:updateDriverrs"/>

<xs:element name="updateDriverrsResponse" type="tns:updateDriverrsResponse"/>

<xs:element name="updateVan" type="tns:updateVan"/>

<xs:element name="updateVanResponse" type="tns:updateVanResponse"/>

<xs:complexType name="getUser">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUserResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:sequence>
<xs:element name="address" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstname" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="lastname" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:int"/>
<xs:element name="nic" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCar">
<xs:sequence>
<xs:element name="car" type="tns:car" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="car">
<xs:sequence>
<xs:element name="carid" type="xs:int"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="endcity" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="startcity" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addCarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUser">
<xs:sequence>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addUserResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authCustomer">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authCustomerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocation">
<xs:sequence>
<xs:element name="carid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLocationResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriverrs">
<xs:sequence>
<xs:element name="dvr" type="tns:driverr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="driverr">
<xs:sequence>
<xs:element name="branch" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="telno" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="vehicle" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDriverrsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMessages">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMessagesResponse">
<xs:sequence>
<xs:element name="return" type="tns:contact" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="contact">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
<xs:element name="mobile" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarsOnly">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarsOnlyResponse">
<xs:sequence>
<xs:element name="return" type="tns:driverr" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVan">
<xs:sequence>
<xs:element name="van" type="tns:van" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="van">
<xs:sequence>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="endcity" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
<xs:element name="startcity" type="xs:string" minOccurs="0"/>
<xs:element name="vanid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateVanResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverr">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverrResponse">
<xs:sequence>
<xs:element name="return" type="tns:driverr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getUsersResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCar">
<xs:sequence>
<xs:element name="carid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authCustomerA">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authCustomerAResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVanbyId">
<xs:sequence>
<xs:element name="vanid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVanbyIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:van" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authCustomerD">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="authCustomerDResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDriverrs">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDriverrsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriverr">
<xs:sequence>
<xs:element name="dvr" type="tns:driverr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addDriverrResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCar">
<xs:sequence>
<xs:element name="car" type="tns:car" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateCarResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVan">
<xs:sequence>
<xs:element name="vancarid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVanResponse">
<xs:sequence>
<xs:element name="return" type="tns:van" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarbyId">
<xs:sequence>
<xs:element name="carid" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCarbyIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVans">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVansResponse">
<xs:sequence>
<xs:element name="return" type="tns:van" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVansOnly">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVansOnlyResponse">
<xs:sequence>
<xs:element name="return" type="tns:driverr" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverrs">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getDriverrsResponse">
<xs:sequence>
<xs:element name="return" type="tns:driverr" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverrbyId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDriverrbyIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:driverr" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCars">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarsResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addContactUs">
<xs:sequence>
<xs:element name="cnt" type="tns:contact" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addContactUsResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>